<div id="backOfCard">
  <h2>Fill in your Contact Info</h2>

  <%= form_for @current_user, url: save_card_path do |f| %>

    <div class="field name">
      <%= label_tag 'name' %>
      <%= f.text_field 'name' %>
    </div>

    <div class="nameBoxes">
      <div class="field box left">
        <%= label_tag 'box1' %>
        <%= f.text_area 'box1' %>
      </div>
      <div class="field box right">
        <%= label_tag 'box2' %>
        <%= f.text_area 'box2' %>
      </div>
    </div>

    <div class="clear"></div>

    <div id="saveMyCard">
     	<%= submit_tag "Save Back of Card"%>
      <br />
      <%= link_to "View My Tags", front_of_card_path %>
    </div>

  <% end %>

  <h2></h2>

</div>
