<%= form_for @current_user, url: save_card_path do |f| %>

<div class="back">
  <div class="field">
    <%= label_tag 'name' %>
    <%= f.text_field 'name' %>
  </div>
  <div class="field">
    <%= label_tag 'box1' %>
    <%= f.text_area 'box1' %>
  </div>
  <div class="field">
    <%= label_tag 'box2' %>
    <%= f.text_area 'box2' %>
  </div>
</div>

<div class="clear"></div>

<div id="saveMyCard">
 	<%= submit_tag "Save Back of Card"%>
</div>

<% end %>

<h2><%= link_to "View My Tags", front_of_card_path %></h2>
