<div id="frontOfCard">
  <div id="tagCloud">
    <h1>TAG CLOUD</h1>
  </div>

  <%= form_tag save_card_path, method: :post do -%>

    <div id="skillSet">

      <%= render partial: "skills/form", locals: {skill: false} %>

      <% if @skills %>
        <% for skill in @skills -%>
          <%= render partial: "skills/form", locals: {skill: skill} %>
        <% end %>
      <% end %>

    </div>

    <a href="javascript:;" id="addNewTag">Add New Tag</a>

    <div id="saveMyCard">
      <%= submit_tag "Save My Card"%>
    </div>

  <% end %>
</div>

<div class="hide" id="newSkillForm">
  <%= render partial: "skills/form", locals: {skill: false} %>
</div>
